<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head th:replace="fragment/fragment::head" ><title>Нашата градина</title></head>
<body>
<nav th:replace="fragment/fragment::nav">Error</nav>
<section class="pt-5 bg-dark">
    <div class="container my-auto">
        <div class="row">
            <a class="col-auto text-white btn bg-gradient me-2 mb-2"  th:href="@{/staff/orders/makeOrder}">Добавяне на поръчка като ...</a>
            <a class="col-auto text-white btn bg-gradient me-2 mb-2" th:href="@{/staff/addStock}" >Добавяне на наличност</a>
            <a class="col-auto text-white btn bg-gradient me-2 mb-2"  th:href="@{/staff/orders/viewOrders}">Преглед на поръчки</a>
            <a class="col-auto text-white btn bg-gradient me-2 mb-2" th:href="@{/staff/stockView}">Преглед на наличности</a>
            <a sec:authorize="hasRole('ADMIN')" class="col-auto text-white btn bg-gradient me-2 mb-2"  th:href="@{/admin/editPrices}">Цени</a>
            <a sec:authorize="hasRole('ADMIN')" class="col-auto text-white btn bg-gradient me-2 mb-2"  th:href="@{/admin/viewUsers}">Потребители</a>
        </div>
    </div>
</section>
<section class="bg-dark">
    <div class="container vh-100">
        <div class="row">
            <h4 class="ps-5 text-white-50 text-center col-8">Цени за килограм</h4>
            <small class="invalid-feedback bg-danger text-light rounded">
                Адреса трябва да бъде 5 или повече символа.
            </small>
            <div th:each="p : ${products}" th:object="${p}" class="row text-center align-self-center">
                <div class="col-5">
                    <small class="text-light rounded"
                           th:text="|*{nameInBulgarian}|">
                        iteration by product
                    </small>
                </div>
                <div class="col-3">
                    <small class="text-light rounded"
                           th:text="|*{pricePerKilogram} лева|">
                        iteration by product
                    </small>
                </div>
                <div class="col-auto">
                    <form th:method="POST" th:action="@{/admin/editPrice/{id}(id=${p.getId()})}" th:object="${productPriceBindingModel}" >

                        <input th:field="*{price}" th:errorclass="is-invalid" th:placeholder="${p.nameInBulgarian}" type="number" step="0.01">
                        <button type="submit" name="submit" value="value" class=" link-button">Промени</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>
<footer th:replace="fragment/fragment::footer">Error</footer>
</body>
</html>
