<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
    <head th:replace="fragment/fragment::head" ><title>Нашата градина</title></head>
    <body>
        <!-- Responsive navbar-->
        <nav th:replace="fragment/fragment::nav">Error</nav>
        <!-- Header - set the background image for the header in the line below-->
        <header sec:authorize="!hasRole('ADMIN')" class="py-5 bg-image-full" style="height: 25vh; background-image: url(/image/pexels-photo-1105019.jpeg)"></header>
        <!-- Content section-->
        <section sec:authorize="!isAuthenticated()">
            <div class="container my-5">
                <div  class="row justify-content-center">
                    <div  class="col-lg-10" >
                        <h2>Здравейте,</h2>
                        <h4 sec:authorize="!isAuthenticated()" >моля влезте от <a th:href="@{/users/login}" class="text-dark" >  тук</a> за преглед, на следващите дни за доставка.</h4>
                        <h4 sec:authorize="!isAuthenticated()" class="row"><p class="col-2">Username</p><p class="col-2">Password</p></h4>
                        <h5 sec:authorize="!isAuthenticated()" class="row"><p class="col-2">admin</p><p class="col-2">admin</p></h5>
                        <h5 sec:authorize="!isAuthenticated()" class="row"><p class="col-2">staff</p><p class="col-2">staff</p></h5>
                        <h5 sec:authorize="!isAuthenticated()" class="row"><p class="col-2">user</p><p class="col-2">user</p></h5>
                    </div>
                </div>
            </div>
        </section>
        <section sec:authorize="hasRole('USER')" class="py-5 bg-dark">
            <div class="container my-auto">
                <div  class="row justify-content-center">
                    <div class="row ">
                        <a class="col-auto text-white btn bg-gradient me-2 mb-2" th:href="@{/orders/makeOrder}">Налични продукти</a>
                        <a class="col-auto text-white btn bg-gradient me-2 mb-2" th:href="@{/orders/viewOrders}">Преглед на поръчките</a>
                        <a class="col-auto text-white btn bg-gradient me-2 mb-2"  th:href="@{/orders/viewPrices}">Цени</a>
                        <a class="col-auto text-white btn bg-gradient me-2 mb-2"  th:href="@{/recipes/shareRecipe}">Сподели рецепта</a>
                        <a class="col-auto text-white btn bg-gradient me-2 mb-2"  th:href="@{/recipes/viewRecipes/all}">Виж всички рецепти</a>
                        <a class="col-auto text-white btn bg-gradient me-2 mb-2"  th:href="@{/recipes/viewRecipes/mine}">Виж моите рецепти</a>
                    </div>
                    <h2 class="text-white text-center me-5 mb-5">Здравейте, <a th:text="${names}"></a>! </h2>
                </div>
            </div>
        </section>
        <section sec:authorize="hasRole('STAFF') or hasRole('ADMIN')" class="py-5 bg-dark vh-100">
            <div class="container my-auto">
                <div class="row">
                    <a class="col-auto text-white btn bg-gradient me-2 mb-2"  th:href="@{/staff/orders/makeOrder}">Добавяне на поръчка като ...</a>
                    <a class="col-auto text-white btn bg-gradient me-2 mb-2" th:href="@{/staff/addStock}" >Добавяне на наличност</a>
                    <a class="col-auto text-white btn bg-gradient me-2 mb-2" th:href="@{/staff/stockView}">Преглед на наличности</a>
                    <a class="col-auto text-white btn bg-gradient me-2 mb-2"  th:href="@{/staff/orders/viewOrders}">Преглед на поръчки</a>
                    <a class="col-auto text-white btn bg-gradient me-2 mb-2" th:href="@{/staff/orders/viewOrders/Rest}">Приключване на поръчки</a>
                    <a sec:authorize="hasRole('ADMIN')" class="col-auto text-white btn bg-gradient me-2 mb-2"  th:href="@{/admin/editPrices}">Цени</a>
                    <a sec:authorize="hasRole('ADMIN')" class="col-auto text-white btn bg-gradient me-2 mb-2"  th:href="@{/admin/viewUsers}">Потребители</a>
                    <a sec:authorize="hasRole('ADMIN')" class="col-auto text-white btn bg-gradient me-2 mb-2"  th:href="@{/admin/stats}">Статистика</a>
                </div>
            </div>
        </section>
        <!-- Image element - set the background image for the header in the line below-->
        <div sec:authorize="!hasRole('ADMIN')" class="py-5 bg-image-full" style="background-image: url(/image/pexels-photo-334978.jpeg)">
            <!-- Put anything you want here! The spacer below with inline CSS is just for demo purposes!-->
            <div style="height: 20rem"></div>
        </div>
        <footer th:replace="fragment/fragment::footer">Error</footer>
    </body>
</html>
