<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head th:replace="fragment/fragment::head" ><title>Нашата градина</title></head>
<body>
<!-- Responsive navbar-->
<nav th:replace="fragment/fragment::nav">Error</nav>
<!-- Header - set the background image for the header in the line below-->
<section sec:authorize="hasRole('STAFF') or hasRole('ADMIN')" class="py-5 bg-dark vh-100">
    <div class="container my-auto">
        <div  class="row">
            <div class="row ">
                <a class="col-auto text-white btn bg-gradient me-2 mb-2"  th:href="@{/staff/orders/makeOrder}">Добавяне на поръчка като ...</a>
                <a class="col-auto text-white btn bg-gradient me-2 mb-2" th:href="@{/staff/addStock}" >Добавяне на наличност</a>
                <a class="col-auto text-white btn bg-gradient me-2 mb-2"  th:href="@{/staff/orders/viewOrders}">Преглед на поръчки</a>
                <a class="col-auto text-white btn bg-gradient me-2 mb-2" th:href="@{/staff/stockView}">Преглед на наличности</a>
                <a sec:authorize="hasRole('ADMIN')" class="col-auto text-white btn bg-gradient me-2 mb-2"  th:href="@{/admin/editPrices}">Цени</a>
                <a sec:authorize="hasRole('ADMIN')" class="col-auto text-white btn bg-gradient me-2 mb-2"  th:href="@{/admin/viewUsers}">Потребители</a>
            </div>
            <div th:each="d : ${sortedDates}" th:object="${d}" class="row align-content-start col-12">
                <div class="row bg-gradient  rounded-top">
                    <div class="col-10">
                        <small class="text-white rounded"
                               th:text="${d}">
                            iteration by product
                        </small>
                    </div>
                    <div class="col-2">
                        <small class="text-light rounded"
                               th:text="|Оставащо количество|">
                            iteration by product
                        </small>
                    </div>
                </div>
                <div th:each="p : ${dayProducts}" th:object="${p}" th:if="${p.getDate() == d}">
                    <div class="row">
                        <div class="col-10">
                            <small class="text-white"
                                   th:text="| *{product.getNameInBulgarian()}|">
                                iteration by product
                            </small>
                        </div>
                        <div class="col-2">
                            <small class="text-light rounded"
                                   th:text="|*{getMaxQuantity()}кг |">
                                iteration by product
                            </small>
                        </div>
                        <form  class="row" th:method="POST" th:action="@{/staff/orders/{id}/add(id=${p.getId()})}" th:object="${orderBindingModel}" >
                            <div class="w-auto" >
                                <input  type="number" th:field="*{quantity}" min="0.01" step="0.01" placeholder="Количество" REQUIRED>
                            </div>
                            <div class="w-auto" >
                                <input  type="text" th:field="*{comment}" placeholder="Кратък коментар">
                            </div>
                            <div class="w-auto" >
                                <input  type="text" th:field="*{identity}" placeholder="Username или Телефон">
                            </div>
                            <div class="col-1">
                                <button type="submit">Резервирай</button>
                            </div>
                        </form>

                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<footer th:replace="fragment/fragment::footer">Error</footer>
</body>
</html>
