<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head th:replace="fragment/fragment::head" ><title>Нашата градина</title></head>
<body>
<!-- Responsive navbar-->
<nav th:replace="fragment/fragment::nav">Error</nav>
<!-- Header - set the background image for the header in the line below-->
<header class="py-5 bg-image-full" style="height: 25vh; background-image: url(/image/pexels-photo-1105019.jpeg)">
</header>
<section sec:authorize="isAuthenticated()" class="py-5 bg-dark">
    <div class="container my-auto">
        <div  class="row justify-content-center">
            <div sec:authorize="hasRole('USER')" class="row">
                <a class="col-auto text-white btn bg-gradient me-2 mb-2" th:href="@{/orders/makeOrder}">Налични продукти</a>
                <a class="col-auto text-white btn bg-gradient me-2 mb-2" th:href="@{/orders/viewOrders}">Преглед на поръчките</a>
                <a class="col-auto text-white btn bg-gradient me-2 mb-2"  th:href="@{/orders/viewPrices}">Цени</a>
                <a class="col-auto text-white btn bg-gradient me-2 mb-2"  th:href="@{/recipes/shareRecipe}">Сподели рецепта</a>
                <a class="col-auto text-white btn bg-gradient me-2 mb-2"  th:href="@{/recipes/viewRecipes/all}">Виж всички рецепти</a>
                <a class="col-auto text-white btn bg-gradient me-2 mb-2"  th:href="@{/recipes/viewRecipes/mine}">Виж моите рецепти</a>
            </div>
            <div sec:authorize="hasRole('STAFF') or hasRole('ADMIN')" class="row">
                <a class="col-auto text-white btn bg-gradient me-2 mb-2"  th:href="@{/staff/orders/makeOrder}">Добавяне на поръчка като ...</a>
                <a class="col-auto text-white btn bg-gradient me-2 mb-2" th:href="@{/staff/addStock}" >Добавяне на наличност</a>
                <a class="col-auto text-white btn bg-gradient me-2 mb-2"  th:href="@{/staff/orders/viewOrders}">Преглед на поръчки</a>
                <a class="col-auto text-white btn bg-gradient me-2 mb-2" th:href="@{/staff/stockView}">Преглед на наличности</a>
                <a sec:authorize="hasRole('ADMIN')" class="col-auto text-white btn bg-gradient me-2 mb-2"  th:href="@{/admin/editPrices}">Цени</a>
                <a sec:authorize="hasRole('ADMIN')" class="col-auto text-white btn bg-gradient me-2 mb-2"  th:href="@{/admin/viewUsers}">Потребители</a>
                <a sec:authorize="hasRole('ADMIN')" class="col-auto text-white btn bg-gradient me-2 mb-2"  th:href="@{/admin/stats}">Статистика</a>
            </div>
            <div class="row align-content-start col-12">
                <div  class="row bg-gradient  rounded-top-custom">
                    <div class="col-2 mb-2">
                        <small class="text-white rounded"
                               th:text="|Дата на доставяне|">
                            iteration by product
                        </small>
                    </div>
                    <div class="col-2 mb-2">
                        <small class="text-white rounded"
                               th:text="|Продукт|">
                            iteration by product
                        </small>
                    </div>
                    <div class="col-2 mb-2">
                        <small class="text-light rounded"
                               th:text="|Заявено количество|">
                            iteration by product
                        </small>
                    </div>
                    <div class="col-2 mb-2">
                        <small class="text-light rounded"
                               th:text="|Приблизителна цена|">
                            iteration by product
                        </small>
                    </div>
                    <div class="col-2 mb-2">
                        <small class="text-light rounded"
                               th:text="|Дата на поръчка|">
                            iteration by product
                        </small>
                    </div>
                </div>
                <div th:object="${order}" class="row bg-gradient  rounded-top-custom">
                    <div class="col-2">
                        <small class="text-white rounded"
                               th:text="|*{getDayEntity().getDate()}|">
                            iteration by product
                        </small>
                    </div>
                    <div class="col-2">
                        <small class="text-white rounded"
                               th:text="|*{getDayEntity().getProduct().getNameInBulgarian()}|">
                            iteration by product
                        </small>
                    </div>
                    <div class="col-2">
                        <small class="text-light rounded"
                               th:text="|*{getQuantity()}|">
                            iteration by product
                        </small>
                    </div>
                    <div class="col-2">
                        <small class="text-light rounded"
                               th:text="|*{#numbers.formatDecimal(getQuantity() * getDayEntity().getProduct().getPricePerKilogram(),1,2)} лв.|">
                            iteration by product
                        </small>
                    </div>
                    <div class="col-2">
                        <small class="text-light rounded"
                               th:text="|*{getDate()}|">
                            iteration by product
                        </small>
                    </div>
                    <th:block  th:if="${order.getDayEntity().getDate() != dateNow}">
                        <form method="POST" th:action="@{/orders/{id}/reset(id=*{getId()})}" class="col-2">
                            <button type="submit" name="submit" value="value" class=" link-button">Анулирай</button>
                        </form>
                    </th:block>
                </div>
                <h4 th:if="${order.getComments().size()>0}" class="text-center text-white">Коментари към поръчката</h4>
                <div th:each="c : ${order.getComments()}" th:object="${c}" class="row bg-gradient  rounded-top-custom">
                    <div class="col-3">
                        <small class="text-white"
                               th:text="|*{#temporals.format(getDateTime(),'dd-MM-yyyy HH:mm')}/ *{getFirstName()}  *{getLastName()}:|">
                            iteration by product
                        </small>
                    </div>
                    <th:block th:if="${c.getUsername() == currentUser}">
                    <div class="bg-gradient col-9">
                        <small class="text-white"
                               th:text="|*{getComment()}|">
                            iteration by product
                        </small>
                    </div>
                    </th:block>
                    <th:block th:if="${c.getUsername() != currentUser}">
                     <div class="bg-white col-9 text-end">
                        <small class="text-dark"
                               th:text="|*{getComment()}|">
                            iteration by product
                        </small>
                    </div>
                    </th:block>
                </div>
                <div class="text-end">
                    <form th:method="POST" th:action="@{/orders/{orderID}/details(orderID=${order.getId()})}" th:object="${commentBindingModel}" class="col-12">

                        <input th:field="*{comment}" placeholder="Въведете своя коментар" class="col-7" type="text">
                        <button th:class="col-2" type="submit" name="submit" value="value" class=" link-button">Добави коментар</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Image element - set the background image for the header in the line below-->
<div class="py-5 bg-image-full" style="background-image: url(/image/pexels-photo-334978.jpeg)">
    <!-- Put anything you want here! The spacer below with inline CSS is just for demo purposes!-->
    <div style="height: 20rem"></div>
</div>
<!-- Footer-->
<footer th:replace="fragment/fragment::footer">Error</footer>
</body>
</html>
