<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head th:replace="fragment/fragment::head" ><title>Нашата градина</title></head>
<body>
<!-- Responsive navbar-->
<nav th:replace="fragment/fragment::nav">Error</nav>
<!-- Header - set the background image for the header in the line below-->
<section sec:authorize="hasRole('STAFF') or hasRole('ADMIN')" class="py-5 bg-dark vh-100">
    <div class="container my-auto">
        <div  class="row ">
            <div class="row ">
                <a class="col-auto text-white btn bg-gradient me-2 mb-2"  th:href="@{/staff/orders/makeOrder}">Добавяне на поръчка като ...</a>
                <a class="col-auto text-white btn bg-gradient me-2 mb-2" th:href="@{/staff/addStock}" >Добавяне на наличност</a>
                <a class="col-auto text-white btn bg-gradient me-2 mb-2"  th:href="@{/staff/orders/viewOrders}">Преглед на поръчки</a>
                <a class="col-auto text-white btn bg-gradient me-2 mb-2" th:href="@{/staff/stockView}">Преглед на наличности</a>
                <a sec:authorize="hasRole('ADMIN')" class="col-auto text-white btn bg-gradient me-2 mb-2"  th:href="@{/admin/editPrices}">Цени</a>
                <a sec:authorize="hasRole('ADMIN')" class="col-auto text-white btn bg-gradient me-2 mb-2"  th:href="@{/admin/viewUsers}">Потребители</a>
            </div>
            <div th:each="s : ${sortedDates}" th:object="${s}" class="row align-content-start col-12">
                <div class="row bg-gradient  rounded-top">
                    <div class="col-2">
                        <small class="text-white rounded"
                               th:text="${s}">
                            iteration by product
                        </small>
                    </div>
                    <div class="col-2">
                        <small class="text-light rounded"
                               th:text="|Заявено количество|">
                            iteration by product
                        </small>
                    </div>
                    <div class="col-2">
                        <small class="text-light rounded"
                               th:text="|Приблизителна цена|">
                            iteration by product
                        </small>
                    </div>
                </div>
                <div th:each="o : ${orders}" th:object="${o}" th:if="${o.getDayEntity().getDate() == s}">
                    <div class="row">
                        <div class="col-2">
                            <small class="text-white "
                                   th:text="| *{getDayEntity().getProduct().getNameInBulgarian()}|">
                                iteration by product
                            </small>
                        </div>
                        <div class="col-2">
                            <small class="text-light "
                                   th:text="|*{getQuantity()} кг. |">
                                iteration by product
                            </small>
                        </div>
                        <div class="col-2">
                            <small class="text-light "
                                   th:text="|*{#numbers.formatDecimal(getQuantity() * getDayEntity().getProduct().getPricePerKilogram(),1,2)} лв.|">
                                iteration by product
                            </small>
                        </div>
                        <div class="col-auto">
                            <form method="POST" th:action="@{/orders/{id}/details(id=${o.getId()})}" class="col-2">
                                <button type="submit" name="submit" value="value" class=" link-button">Преглед</button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<footer th:replace="fragment/fragment::footer">Error</footer>
</body>
</html>
